@charset "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
           v2.0 | 20110126
           License: none (public domain)
        */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
    font-size: 0.875rem;
    color: rgb(71, 55, 85);
    background: #ffffff;
}

.p {
    word-break: break-word;
}

.background {
    width: 100%;
    background-size: cover;
    height: 100%;
    position: fixed;
    background: #fff;
    /* fallback for old browsers */
    background: linear-gradient(180deg, rgba(137, 78, 141, 0.6) 60%, rgba(218, 110, 83, 0.6) 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ol, ul {
    padding: 10px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, .menu, .menu2, .type {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* index */

@media screen and (max-width: 767px) {
    .body {
        background: rgb(255, 252, 249);
        max-width: 800px;
        margin: auto;
        padding: 10px 10px 60px;
        box-sizing: border-box;
        position: relative;
    }

    .koma {
        max-width: 48px;
        margin: 0 10px 30px;
        filter: drop-shadow(3px 3px 3px rgba(26, 34, 51, 0.2));
    }

    .logo {
        margin: 15px auto 20px;
        max-width: 120px;
        max-height: auto;
    }

    hr {
        border: 0 none;
        height: 2px;
        color: rgb(154, 141, 156);
        background-color: rgb(154, 141, 156);
        width: 70%;
    }

    .type {
        color: rgb(154, 141, 156);
        font-size: 90%;
        margin: 20px auto 20px;
    }
}

@media screen and (min-width: 768px) {
    .body {
        background: rgb(255, 252, 249);
        max-width: 800px;
        margin: auto;
        padding: 20px 30px 60px;
        box-sizing: border-box;
        position: relative;
    }

    .koma {
        max-width: 96px;
        margin: 0 10px 30px;
        filter: drop-shadow(5px 5px 5px rgba(26, 34, 51, 0.2));
    }

    .logo {
        margin: 20px auto 30px;
        max-width: 100%;
        max-height: 100%;
    }

    hr {
        border: 0 none;
        height: 2px;
        color: rgb(154, 141, 156);
        background-color: rgb(154, 141, 156);
        width: 50%;
    }

    .type {
        color: rgb(154, 141, 156);
        font-size: 120%;
        margin: 20px auto 20px;
    }
}

.index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.index .body {
    min-width: 70vw;
    width: 100%;
    text-align: center;
    padding: 40px 15px;
}

.menu {
    font-size: 150%;
    margin: 30px auto;
    line-height: 100%;
}

.menu2 {
    font-size: 120%;
    margin: 20px auto 20px;
}

.menu>a, .menu2>a {
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: center;
    list-style-type: none
}

.list_link {
    background-color: #b16f77;
    color: #fff;
    text-decoration: none;
    display: block;
    margin: -10px 5px 10px;
    padding: 0.4rem 0.3rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.list_link:hover {
    background-color: #b08ece;
}

.credit {
    color: rgb(154, 141, 156);
    margin: 20px auto;
}

/* /index */

.main {
    display: flex;
}

.main:not(:last-child) {
    margin-bottom: 15px;
}

/* main */

@media screen and (max-width: 767px) {
    .ic {
        margin-right: 10px;
    }

    .ic img {
        max-width: 40px;
    }

    .box, .system {
        padding: 10px 10px;
        margin: 1.0em auto;
        background: rgba(71, 55, 53, 0.2);
        border-radius: 10px;
        width: 90%;
    }

    .box_t {
        font-size: 110%;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }

    .box2 {
        padding: 10px 10px;
        margin: 1.0em auto;
        background: rgba(218, 110, 83, 0.2);
        border-radius: 10px;
        width: 90%;
    }

    .box img, .box2 img {
        max-width: 30px;
    }
}

@media screen and (min-width: 768px) {
    .ic {
        margin-right: 15px;
    }

    .ic img {
        max-width: 60px;
    }

    .box, .system {
        padding: 10px 10px;
        margin: 1.0em auto;
        background: rgba(71, 55, 53, 0.2);
        border-radius: 10px;
        width: 80%;
    }

    .box_t {
        font-size: 110%;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
    }

    .box2 {
        padding: 10px 10px;
        margin: 1.0em auto;
        background: rgba(218, 110, 83, 0.2);
        border-radius: 10px;
        width: 80%;
    }

    .box img, .box2 img {
        max-width: 40px;
    }
}

.prot {
    text-align: center;
}

h1 {
    font-size: 200%;
    position: relative;
    padding: 15px 10px;
    margin: 10px auto;
    color: rgb(50, 140, 193)
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 140%;
        color: #fff;
        position: relative;
        padding: 10px 10px;
        margin: 15px auto;
        background-color: #c5747d;
    }

    h3 {
        font-size: 120%;
        position: relative;
        padding: 5px 10px;
        margin-top: 50px;
        margin-bottom: 20px;
        border-radius: 10px;
        background: linear-gradient(transparent 0%, #f1c7cb 0%);
    }

    .player {
        font-size: 110%;
        border-left: 6px double #d8a9ae;
        padding: 5px 10px;
        margin-top: 0;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    h2 {
        font-size: 200%;
        color: #fff;
        position: relative;
        padding: 10px 10px;
        margin: 15px auto;
        background-color: #c5747d;
    }

    h3 {
        font-size: 160%;
        position: relative;
        padding: 5px 10px;
        margin-top: 50px;
        margin-bottom: 20px;
        border-radius: 10px;
        background: linear-gradient(transparent 0%, #f1c7cb 0%);
    }

    .player {
        font-size: 120%;
        border-left: 6px double #d8a9ae;
        padding: 5px 10px;
        margin-top: auto;
        margin-bottom: 15px;
    }
}

h2+h3 {
    margin-top: -5px;
}

.footer+h3 {
    margin-top: 0px;
}

h3+.player {
    margin-top: -10px;
}

.footer {
    position: fixed;
    color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5px;
    padding-bottom: 25px;
    background: rgba(197, 116, 125, 1);
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.cutin {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 0 25%;
    margin-bottom: 20px;
}

/* ツールチップ */

.tooltip {
    border-bottom: dotted 1px #FF0000;
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    padding: 10px;
    line-height: 1.3;
    text-align: justify;
    box-sizing: border-box;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .tooltip-text {
        display: flex;
        position: absolute;
        font-size: 12px;
        background: #333;
        color: #fff;
        margin: auto;
        left: -100%;
        right: -100%;
        width: 200px;
        z-index: 5;
    }
}

@media screen and (max-width: 767px) {
    .tooltip-text {
        display: block;
        background: #333;
        color: #fff;
        position: fixed;
        bottom: -200px;
        width: 100%;
        left: 0;
        right: 0;
        transition: all.2s;
        z-index: 30
    }

    .tooltip:hover .tooltip-text {
        bottom: 0;
    }

    .tooltip:hover:after {
        display: block;
    }

    .tooltip-text:after {
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, 0.2);
        content: "";
    }

    .tooltip:after {
        background: rgba(0, 0, 0, 0.2);
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        pointer-events: none;
        display: none;
    }
}

/* /ツールチップ */

/* /main */

.page {
    font-weight: bold;
}

body {
    font-family: Verdana, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.cutin:hover, .koma:hover {
    filter: brightness(120%) drop-shadow(0px 0px 5px rgba(26, 34, 51, 0.1));
    transform: translateY(-5px);
    transition: all 0.4s;
}

b {
    font-weight: bold;
}

a:link:not(.list_link):not(.tooltip) {
    color: rgb(71, 55, 85);
}

a:visited:not(.list_link):not(.tooltip) {
    color: rgb(71, 55, 85);
}

a:hover:not(.list_link):not(.tooltip) {
    color: #e9a272;
    transition: color 0.5s
}

/* name */

.gm, .pc1, .pc2, .pc3, .pc4 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.gm {
    color: #888888;
}

.pc1 {
    color: #8bc34a;
}

.pc2 {
    color: #ffc0cb;
}

.pc3 {
    color: #f5ad43;
}

.pc4 {
    color: #594255;
}

/* /name */

@media screen and (min-width: 641px) {}

@media screen and (max-width: 640px) {}